.skills{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    p{
        margin-left: 200px;
    }
}
.skills-btn{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 700px;
}