@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.devweb{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 980px;
    .main-titles{
        margin-left: 300px;
        margin-top: 50px;
        font-family: 'Alata', sans-serif;
        color: white;
        font-size: 60px;
    }
}
#cipher-img{
    width: 700px;
    height: auto;
    
}
