.overlay {
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(129,72,153);
    background: linear-gradient(125deg, rgba(129,72,153,.5) 0%, rgba(81,50,138,.5) 20%, rgba(73,141,191,.5) 67%, rgba(51,177,140,.5) 86%);
    z-index: 999; 
    cursor: pointer;
  }
  
  .content {
        margin: 10% auto;
        background-color: white;
        border-radius: 0.25rem;
        width: 80vw;
        padding: 2rem;
        position: relative;
        box-sizing: border-box;
  }