@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.contact{
    position: absolute;
    margin-top: 2300px;
    margin-left: 1000px;
    display: flex;
    flex-direction: row;
    h1{
        font-family: 'Alata', sans-serif;
        color: white;
        font-size: 60px;
    }
}