$grey:#303231;

.App {
  display: flex;
  flex-direction: column;
}
.triangle-about{
  width: 0%;
  height: 0;
  border-top: 800px solid $grey ;
  border-left: 1280px solid transparent;
  margin-right: 0px; 
  z-index: 0; 
}
.skill-view{
  display: flex;
  flex-direction: row;
}
.web-view{
  display: flex;
  flex-direction: row;
}
.triangle-skills{
  width: 0px;
  height: 0px;
  border-top: 300px solid transparent;
  border-left: 500px solid $grey;
  border-bottom: 600px solid transparent;
  justify-content: flex-start;
}
.triangle-dev{
  width: 100%;
  height: 0;
  border-top: 750px solid transparent;
  border-right: 550px solid $grey;
  border-bottom: 678px solid transparent;
  justify-content: flex-end;
  margin-top: 300px;
  margin-right: 0px;
}
.triangle-design{
  width: 0px;
  height: 0px;
  border-top: 600px solid transparent;
  border-left: 475px solid $grey;
  border-bottom: 450px solid transparent;
  margin-top: 1350px;
  margin-left: 0px;
  position: absolute;
}
.triangle-contact{
  width: 0;
  height: 0;
  border-bottom: 700px solid $grey;
  border-left: 600px solid transparent;
  margin-top: 2000px;
  margin-left: 53.1%;
  position: absolute;
}

