@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.router{
    display:flex;
    flex-direction: row;
    position: absolute;
    margin-top: 550px;
    margin-left: 1rem;
    
}
